
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Pixelify+Sans&display=swap');
*{
    font-family: 'Pixelify Sans', cursive;}
    body{
        background-color: black;
    }
.title1{
    font-size: 50px;
    color:cyan;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border: 10px solid cyan;
}
.div1{ 
    color:cyan;
    font-size: larger;
    background-color: black;
    border: 10px solid cyan;
}
.video{
    width: 300px;
    height: 200px;
    border: 10px solid cyan;
}
.AboutUs{
    border: 10px solid cyan;
    background-color: black;
    color:cyan;
}
.parag1{
    font-size: larger;
    background-color: black;
    color: cyan;
}
.Stats{
    font-size: 40px;
    background-color: black;
    color:cyan;
    border: 10px solid cyan;
}
.table{
    font-size: 30px;
    color: cyan;
    background-color: black;
    border: 10px solid cyan;
}
.ContactUs{
    font-size: 40px;
    color: cyan;
    background-color: black;
    border: 10px solid cyan;
}
.div2{
    font-size: larger;
    color: cyan;
    background-color: black;
    border: 10px solid cyan;
}
.text1{
    border: 3px solid cyan;
    background-color: black;
    color: cyan;
}
.date{
    border: 3px solid cyan;
    color: cyan;
    background-color: black;
}
.Number{
    color: cyan;
    background-color: black;
    border: 3px solid cyan;
}
.Email{
    color: cyan;
    background-color: black;
    border: 3px solid cyan;
}
.Password{
    color: cyan;
    background-color: black;
    border: 3px solid cyan;
}
.TextArea{
    color: cyan;
    background-color: black;
    border: 3px solid cyan;
}
.Description{
    color: cyan;
    background-color: black;
    border: 3px solid cyan;
    font-size: larger;
}
.button{
    background-color: black;
    border: 3px solid cyan;
    
}
.Reset{
    color: cyan;
    background-color: black;
    border: 3px solid cyan;
    font-size: larger;
}
.Submit{
    color: cyan;
    font-size: larger;
    background-color: black;
    border: 3px solid cyan;
}
.link{
    color: cyan;
    background-color: black;
    border: 3px solid cyan;
}
#HEHE{
    color:cyan;
    background-color: black;
    border: 3px solid cyan;
}





